*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

input, button, textarea, select {
  margin: 0;
  padding: 0;
  border: none;
}

select{
  -webkit-appearance: none; 
  -moz-appearance: none;
  appearance: none;
}

textarea{
  resize: none;
}

li{
  list-style-type: none;
}

a{
  text-decoration: none;
}

